#div1{
    width: 300px;
    height: 400px;
    background-color: aqua;
    position: relative;
}

.red{
    width: 100px;
    height: 100px;
    background-color: red;
}

.blue{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    bottom: 0;
}

.yellow{
    width: 100px;
    height: 100px;
    background-color: yellow;
}