#image{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto auto;
    width: 1000px;
    height: 300px;
}
div{
    grid-gap: 5px;
}
.box1{
    background-color: orange;
    grid-area: 1/1/4/2;

}
.box2{
    background-color: red;
    grid-area: 1/2/2/4;
}
.box3{
    background-color: violet;
    grid-area: 1/4/2/6;
}
.box4{
    background-color: violet;
    grid-area: 2/2/5/5;
}
.box5{
    background-color: red;
    grid-area: 2/5/3/6;
}
.box6{
    background-color: orange;
    grid-area: 3/5/6/6;
}
.box7{
    background-color: red;
    grid-area: 4/1/5/2;
}
.box8{
    background-color: violet;
    grid-area: 5/1/6/3;
}
.box9{
    background-color: red;
    grid-area:  5/3/6/5;
}